<div class='ui left vertical fixed visible sidebar menu'>

  <div class='logo-item item'>
    <%= image_tag 'favicon.png' %>
  </div>

  <%= link_to root_path, class: 'item' do %>
    <i class='home icon'></i>Home
  <% end %>

  <%= link_to new_properties_path, class: 'item' do %>
    <i class='block layout icon'></i>Cadastrar Imóveis
  <% end %>

  <%= link_to root_path, class: 'item' do %>
    <i class='block layout icon'></i>Gerenciar Imóveis
  <% end %>

  <%= link_to root_path, class: 'item' do %>
    <i class='address card layout icon'></i>Lista de Contatos
  <% end %>

  <%= link_to destroy_admin_session_path, method: :delete, class: 'item' do %>
    <i class='sign out icon'></i>Sair
  <% end %>
</div>
