<!DOCTYPE html>
<html>
  <head>
    <title>Ângela Katarine - Negócios Imobiliários</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !admin_signed_in? %>
      <%= yield %>
    <% else %>
    <div class='flexbox-wrapper'>
      <div class='sidebar'>
        <%= render 'shared/sidemenu' %>
      </div>

      <div class='content'>
        <div class='ui col-md-12 container'>
          <%= yield %>
        </div>
      </div>

    </div>
    <% end %>
  </body>
</html>
